body{
    background-color: powderblue; /* Makes the background colour blue*/
}

h1{
    color: black; /*Gives text in the h1 tag the colour black*/
    font-family: 'Times New Roman', Times, serif; /*Chnages the font of the text*/
}

h2{
    color: purple; /*Makes text in the h2 tag purple*/
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    overflow-wrap: break-word;
}

.collapsible {
  background-color: lightblue;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.acti, .collapsible:hover {
  background-color: rgb(14, 252, 220);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

#Image {
  position: relative;
  top: 10;
  right: 0;
  width: 600px;
  height: 384px;
}

#Img {
  position: relative;
  top: 10;
  left: 0%;
  width: 400px;
  height: 380px;
}

#img{
  position: relative;
  width: 500px;
  height: 200px;
}

#para{
  overflow-wrap: break-word;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 10%;
  width: 100%;
}
